.login-container{
  position: relative;
  float: right;
  border: solid 3px #343a40;
  border-radius: 5px;
  margin-top: 10%;
  width: 30%;
}

form{
  margin: 15px; 
}

.card-header{
  label{
    position: relative;
    float: right;
  }
}